{% extends "base.html" %}
{% block content %}

<h3>Delete Item</h3>

<p>Are you sure you want to delete the item: <b>{{ object.title }}</b>
    from the list <i>{{ todo_list.title }}</i>?</p>

<form method="post">
    {% csrf_token %}
    <div>
        <input class="action-confirm-button"
            value="Yes, delete."
            type="submit">
    </div>
    <div>
        <input class="action-cancel-button"
            value="Cancel"
            type="button"
            onclick="location.href='{% url "list" todo_list.id %}';">
    </div>
</form>

{% endblock %}
