{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django To-do Lists</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Simple.css-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
    </head>
    <body>
        <!--suppress Annotator, Annotator -->
        <div class="container_block">
            <h1 onclick="location.href='{% url "index" %}'">
            Django To-do Lists
            </h1>
        </div>
        <div class="container">
            {% block content %}
            This content will be replaced by different html code for each page.
            {% endblock %}
        </div>
        {% comment %} <script src="" async defer></script> {% endcomment %}
    </body>
</html>